.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100%;
}

#result {
    color: red;
}